.practiseTest-container {
  max-width: 80%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
}

/*==================MEDIA QUERIES (MEDIA DEVICES)===================*/
@media screen and (max-width: 1024px) {
  .practiseTest-container {
    max-width: 85%;
  }
}

/*==================MEDIA QUERIES (SMALL DEVICES)===================*/
@media screen and (max-width: 600px) {
  .practiseTest-container {
    max-width: 95%;
  }
}
