/* .question-container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */

.question-container h3 {
  margin-bottom: 10px;
}

.question-container div {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.question-container div button {
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid gray;
}

.question-container div button:hover {
  background: white;
}

.question-container div button:disabled {
  color: grey;
}

.question-container pre {
  margin-bottom: 10px;
}
