.testList-container {
  padding: 20px;
  max-width: 80%;
  border: 1px solid gray;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 20px;
}

.btn:hover {
  background: white;
}

/*==================MEDIA QUERIES (MEDIA DEVICES)===================*/
@media screen and (max-width: 1024px) {
  .testList-container {
    max-width: 85%;
  }
}

/*==================MEDIA QUERIES (SMALL DEVICES)===================*/
@media screen and (max-width: 600px) {
  .testList-container {
    max-width: 95%;
  }
}
